<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <% if (user === undefined) { %>
          <a class="nav-item nav-link" href="/login">Create New URL</a>
        <% } else { %>
          <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        <% } %>
      </div>
    </div>
    <% if (user === undefined) { %>
      <form method="GET" action="/login" style="width: 70px">
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <form method="GET" action="/register" style="width: 70px">
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    <% } else { %>
      <div class="navbar" style="width: auto; font-size: 0.9em;">Logged in as <%= user.email %> </div>
      <form method="POST" action="/logout">
        <button type="submit" class="btn btn-primary">Logout</button>
      </form>
    <% } %>
  </nav>
</header>